{% extends "maestra.html" %}
{% block titulo %} Semestre Académico {% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
          <h3 class="is-size-3">Semestre Académico</h3>
          <div class="row">
            <div class="col-md-1">
                          <a href="{{url_for('formulario_agregar_semestre')}}" class="button is-success">Agregar</a>
            </div>
            <div class="col">
              <input type="text" id="busqueda" placeholder="Buscar un semestre académico" onkeyup="buscar_semestre()" class="input">
            </div>
            <div class="col">
              
            </div>
          </div>
          <table class="table">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-table-cell">Código</th>
                            <th>Nombre</th>
                            <th class="d-none d-sm-table-cell">Fecha Inicio</th>
                            <th class="d-none d-sm-table-cell">Fecha Fin</th>
                            <th class="d-none d-sm-table-cell">Estado</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="tabla">
                        {% for semestre in semestres %}
                        <tr>
                            <td class="d-none d-sm-table-cell">{{semestre[0]}}</td>
                            <td>{{semestre[1]}}</td>
                            <td class="d-none d-sm-table-cell">{{semestre[2]}}</td>
                            <td class="d-none d-sm-table-cell">{{semestre[3]}}</td>
                            <td class="d-none d-sm-table-cell">
                                {% if semestre[4] == "A" %}
                                    Activo
                                {% else %}
                                    Inactivo
                                {% endif %}
                            </td>
                            <td>
                                {# Pasar el id (lo que hay en semestre[0] #}
                                <a href="{{url_for('editar_semestre', id=semestre[0])}}" class="button is-info">Editar</a>
                            </td>
                            <td>
                                <form action="{{url_for('eliminar_semestre')}}" method="POST" id="eliminar_form">
                                    <input type="hidden" name="id" value="{{semestre[0]}}">
                                    <button class="button is-danger" id="eliminar_btn">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>            
        </div>
    </div>
</section>
{% endblock%}

{% block scripts %} 
<script src="{{ url_for('static', filename='js/busqueda.js') }}"></script>
{% endblock%}
