{% extends "mantenimiento_estudiante.html" %}

{% block titulo %} Editar estudiante Académico {% endblock %}
{% set titulo2 = "Editar estudiante Académico" %}
{% set id = estudiante[0] %}
{% set cod_universitario = estudiante[1] %}
{% set dni = estudiante[2] %}
{% set nombre = estudiante[3] %}
{% set correo_usat = estudiante[4] %}
{% set correo_personal = estudiante[5] %}
{% set telefono = estudiante[6] %}
{% set telefono2 = estudiante[7] %}
{% set estado = estudiante[8] %}
{% set id_usuario = estudiante[9] %}
{% set id_semestre_academico_ingreso = estudiante[10] %}
{% set id_plan_estudio = estudiante[11] %}
{% set url = url_for('estudiante.actualizar_estudiante') %}