{% extends "maestra/maestra.html" %}
{% block contenido %}
<section class="section">
    <div class="row">
        <div class="col">

            <form action="{{url}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input value="{{id}}" type="hidden" name="id">

                <div class="form-floating mb-4">
                    <input value="{{cod_universitario}}" required type="text" class="form-control input" placeholder="cod_universitario"
                        name="cod_universitario" id="cod_universitario">
                    <label for="cod_universitario">cod_universitario</label>
                </div>
                <div class="form-floating mb-4">
                    <input value="{{dni}}" required type="text" class="form-control input" placeholder="dni"
                        name="dni" id="dni">
                    <label for="dni">DNI</label>
                </div>

                <div class="form-floating mb-4">
                    <input value="{{nombre}}" required type="text" class="form-control input" placeholder="Nombre"
                        name="nombre" id="nombre">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="form-floating mb-4">
                    <input value="{{correo_usat}}" required type="text" class="form-control input" placeholder="correo_usat"
                        name="correo_usat" id="correo_usat">
                    <label for="correo_usat">correo usat</label>
                </div>
                <div class="form-floating mb-4">
                    <input value="{{correo_personal}}" required type="text" class="form-control input" placeholder="correo_personal"
                        name="correo_personal" id="correo_personal">
                    <label for="correo_personal">correo personal</label>
                </div>
                <div class="form-floating mb-4">
                    <input value="{{telefono}}" required type="text" class="form-control input" placeholder="telefono"
                        name="telefono" id="telefono">
                    <label for="telefono">telefono</label>
                </div>
                <div class="form-floating mb-4">
                    <input value="{{telefono2}}" required type="text" class="form-control input" placeholder="telefono2"
                        name="telefono2" id="telefono2">
                    <label for="telefono2">telefono2</label>
                </div>
                <div class="form-floating mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="estado" id="estado" {% if
                            estado=="A" %} checked {% endif %}>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Activo
                        </label>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input value="{{id_usuario}}" required type="text" class="form-control input" placeholder="id_usuario"
                        name="id_usuario" id="id_usuario">
                    <label for="id_usuario">id_usuario</label>
                </div>
                <div class="form-floating mb-4">
                    <input value="{{id_semestre_academico_ingreso}}" required type="text" class="form-control input" placeholder="id_semestre_academico_ingreso"
                        name="id_semestre_academico_ingreso" id="id_semestre_academico_ingreso">
                    <label for="id_semestre_academico_ingreso">id_semestre_academico_ingreso</label>
                </div>
                <div class="form-floating mb-4">
                    <input value="{{id_plan_estudio}}" required type="text" class="form-control input" placeholder="id_plan_estudio"
                        name="id_plan_estudio" id="id_semestre_academico_ingreso">
                    <label for="id_plan_estudio">id_plan_estudio</label>
                </div>


                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>&nbsp;&nbsp;Guardar</button>
                <a href="{{url_for('estudiante.estudiante')}}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></i>&nbsp;&nbsp;Regresar</a>

            </form>
        </div>
        <div class="col d-none d-md-block">
        </div>
    </div>
</section>
{% endblock %}