{% extends "maestra/maestra.html" %}
{% block titulo %} Importar Estudiantes {% endblock %}
{% set titulo2 = "Importar Estudiantes" %}
{% block contenido %}
<section>
    <div class="card mb-4">
        <div class="card-body">
            <div class="input-group">
                <form action="{{url_for('estudiante.subir_excel')}}" method="post" id="enviar_estudiantes"
                    enctype="multipart/form-data">
                    <div class="row mt-2">
                        <div class="col-7">
                            <input class="form-control" id="archivo" type="file" required name="file">
                        </div>
                        <div class="col-auto">
                            <button type="submit" onclick="event.preventDefault(); enviar()" class="btn btn-success"
                                id="cargar">Cargar</button>
                        </div>
                        <div class="col-6">
                            <input type="text" readonly class="form control form-control-plaintext text-danger"
                                id="mensaje" value="">
                        </div>
                    </div>
                </form>

            </div>




        </div>
    </div>
    {% if mensaje %}
    <div class="card">
        <div class="card-body">
            {{mensaje}}
        </div>
    </div>
    {% endif %}


    {% if registros %}
    <div class="row">
        <div class="col">

        </div>
        <div class="col-4 above-table">
            <div class="row">
                <div class="col text-end">
                    <input id="searchbar" class="form-control" type="text" placeholder="Buscar">
                </div>
                <div class="col-auto">
                    <a href="{{url_for('estudiante.upload', lista=registros)}}" onclick="ocultarTabla()" class="btn btn-success"><i
                            class="fa fa-upload" aria-hidden="true"></i>&nbsp;Importar</a>
                </div>
                <div class="col-auto">
                    <a href="{{url_for('estudiante.estudiante')}}" class="btn btn-secondary"><i
                            class="fas fa-arrow-left"></i></i>&nbsp;&nbsp;Regresar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-auto">
        <table class="table table-hover align-middle table-bordered" id="tablita">
            <thead>
                <tr class="table-danger">
                    <th>Código Universitario</th>
                    <th>Nombres</th>
                    <th>Escuela Profesional</th>
                    <th>DNI</th>
                    <th>Correo USAT</th>
                    <th>Correo personal</th>
                    <th>Telefono 1</th>
                    <th>Telefono 2</th>
                    <th>Ciclo de Ingreso</th>
                    <th>Plan de estudios</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for registro in registros %}
                <tr>
                    <td>{{ registro[0] }}</td>
                    <td>{{ registro[1] }}</td>
                    <td>{{ registro[2] }}</td>
                    <td>{{ registro[3] }}</td>
                    <td>{{ registro[4] }}</td>
                    <td>{{ registro[5] }}</td>
                    <td>{{ registro[6] }}</td>
                    <td>{{ registro[7] }}</td>
                    <td>{{ registro[8] }}</td>
                    <td>{{ registro[9] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true"
            data-bs-delay="3000">
            <div class="toast-header text-bg-primary">
                <strong class="me-auto">Archivo cargado</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Cerrar"></button>
            </div>
            <div class="toast-body">
                El archivo {{ archivo.filename }} se ha cargado correctamente.
            </div>
        </div>
    </div>

    {% endif %}

    {% if archivo is defined %}
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');

            $('#save-button').on('click', function () {
                console.log('aaa')
                var data = [];

                $('table tr').each(function (index) {
                    if (index !== 0) {
                        var row = [];
                        $(this).find('td').each(function (index) {
                            row.push($(this).text());
                        });
                        data.push(row);
                    }
                });
                console.log(data)
                // enviar los datos actualizados al servidor utilizando AJAX
                $.ajax({
                    url: "",
                    method: 'POST',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    {% endif %}
    <script>
        function ocultarTabla() {
            var tabla = document.getElementById("tablita");
            tabla.style.display = "none";
        }
        function enviar() {
            const formulario = document.querySelector('#enviar_estudiantes')
            const archivo = document.querySelector("input[type=file]").files[0];
            if (!archivo) {
                document.getElementById("mensaje").value = "Debes seleccionar un archivo";
                return;
            }
            const extension = archivo.name.split('.').pop();

            if (extension != "xls" && extension != "xlsx" && extension != "xlsm" && extension != "xlsb" && extension != "odt" && extension != "ods" && extension != "odf") {
                document.getElementById("mensaje").value = "Formato de archivo incorrecto";
            } else {
                document.getElementById("mensaje").value = "";
                if (formulario) {
                    formulario.submit()
                } else {
                    console.log('No se pudo encontrar el formulario')
                }
            }
        };


    </script>


    {% endblock %}