{% extends "maestra/maestra.html" %}
{% block titulo %} Linea de Desarrollo {% endblock %}
{% set titulo2 = "Linea de Desarrollo " %}
{% block contenido %}
<section class="section contenido">
  <div class="columns">
    <div class="col">
      <div class="row">
        <div class="col d-none d-sm-block above-table">

          <!-- The second value will be selected initially -->
          <div class="col-auto">
            <div class="row">
              <div class="col-auto">
                <b><label for="Escuela" class="col-form-label">Facultad</label></b>
              </div>
              <div class="col-auto">
                <select disabled class="form-select" aria-label="Facultad">
                  <option value="1">Ingenieria</option>
                </select>
              </div>

              <div class="col-auto">
                <b><label for="Facultad" class="col-form-label">Escuela</label></b>
              </div>
              <div class="col-auto">
                <select disabled class="form-select" aria-label="Facultad">
                  <option value="1">Ingenieria de Sistemas y Computación</option>
                </select>
              </div>

            </div>
          </div>

        </div>
        <div class="col-auto text-end above-table">
          <input id="searchbar" class="form-control" type="text" placeholder=" Buscar">
        </div>

        <div class="col-auto text-end above-table">
          <a href="{{url_for('lineaDesarrollo.formulario_agregar_lineaDesarrollo')}}" class="btn btn-success"><i
              class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
        </div>
      </div>
      <div class="col-auto">
        <table class="table table-hover align-middle table-bordered" id="tablita">
          <thead>
            <tr class="table-danger">

              <th class="col-2 text-center border-start">Nombre</th>
              <th class="col-3 text-center">Descripcion</th>
              <th class="col-1 text-center d-none d-md-table-cell">Estado</th>
              <th class="col-1 text-center">Editar</th>
              <th class="col-1 text-center">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for lineaDesarrollo in linea_desarrollo %}
            <tr>             
              <td class="col-2 text-start">{{lineaDesarrollo[1]}}</td>
              <td class="col-3 text-star">{{lineaDesarrollo[2]}}</td>
              <td class="col-1 text-center d-none d-md-table-cell">
                <form action="{{url_for('lineaDesarrollo.actualizar_estado_lineaDesarrollo')}}" method="POST"
                  class="actualizar_estado">
                  <input type="hidden" name="id" value="{{lineaDesarrollo[0]}}">
                  <input type="hidden" name="estado" value="{{lineaDesarrollo[3]}}">
                  {% if lineaDesarrollo[3]=='A' %}
                  <button type="button" class="estado btn ls-button btn-primary" data-bs-toggle="tooltip"
                    data-bs-title="Desactivar LÍnea de Desarrollo" onclick="event.preventDefault(); checkbox(this.parentNode)">
                    <i class="bi bi-check-square-fill"></i>
                  </button>
                  {% else %}
                  <button type="button" class="estado btn ls-button btn-danger" data-bs-toggle="tooltip"
                    data-bs-title="Activar LÍnea de Desarrollo" onclick="event.preventDefault(); checkbox(this.parentNode)">
                    <i class="bi bi-x-square-fill"></i>
                    
                  </button>
                  {% endif %}
                </form>
              </td>
              <td class="col-1 text-center">
                {# Pasar el id lo que hay en semestre[0] #}
                <a href="{{url_for('lineaDesarrollo.editar_lineaDesarrollo', id=lineaDesarrollo[0])}}"
                  class="text-center btn btn-primary ls-button" data-bs-toggle="tooltip"
                  data-bs-title="Editar Linea de Desarrollo"><i class="fas fa-edit"></i></a>
              </td>
              <td class="col-1 text-center">
                <form action="{{url_for('lineaDesarrollo.eliminar_lineaDesarrollo')}}" method="POST" id="eliminar_form">
                  <input type="hidden" name="id" value="{{lineaDesarrollo[0]}}">
                  <button class="btn btn-danger ls-button" id="eliminar_btn"
                    onclick="event.preventDefault(); eliminar(this.parentNode)" data-bs-toggle="tooltip"
                    data-bs-title="Eliminar Linea de Desarrollo"><i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="col-auto text-end above-table">
          <a href="{{url_for('lineaDesarrollo.formulario_reporte_lineaDesarrollo')}}" class="btn btn-success"><i
              class="fas fa-plus-circle"></i>&nbsp;REPORTE</a>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock%}