{% extends "maestra/maestra.html" %}
{% block contenido %}
<section class="section">
    <div class="row">
        <div class="col">

            <form action="{{url}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input value="{{id}}" type="hidden" name="id">

                <div class="form-floating mb-4">
                    <input value="{{nombre}}" required type="text" class="form-control input" placeholder="Nombre"
                        name="nombre" id="nombre">
                    <label for="nombre">Nombre</label>
                </div>

                <div class="form-floating mb-4">
                    <input value="{{descripcion}}" required type="text" class="form-control input" placeholder="Descripción"
                        name="descripcion" id="descripcion">
                    <label for="descripcion">Descripción</label>
                </div>


                <div class="form-floating mb-4">
                    <select value="{{escuela}}" required type="text-left" class="form-control input" placeholder="Escuela"
                        name="escuelas" id="escuelas">
                        {% for escuela in escuelas %}
                            <option value="{{ escuela[0] }}">{{escuela[1] }}</option>
                        {% endfor %}
                    </select>
                    <label for="escuelas">Selecciona una Escuela</label>
                </div>

                <div class="form-floating mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="estado" id="estado" {% if
                            estado=="A" %} checked {% endif %}>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Activo
                        </label>
                    </div>
                </div>

                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>&nbsp;&nbsp;Guardar</button>
                <a href="{{url_for('lineaDesarrollo.linea_desarrollo')}}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></i>&nbsp;&nbsp;Regresar</a>

            </form>
        </div>
        <div class="col d-none d-md-block">
        </div>
    </div>
</section>


{% endblock %}