{% extends "mantenimiento_informe_final_es.html" %}
{% block titulo %}
Editar Informe Final Estudiante
{% endblock %}
{% set titulo2 = "Agregar Informe Final Estudiante" %}

{% set nombre = estudiante[0] %}
{% set escuela = estudiante[1] %}
{% set razon_social = datos_cppp[0] %}
{% set direccion = datos_cppp[1] %}
{% set giro = datos_cppp[2] %}
{% set representante = datos_cppp[4] %}

{% set jefe = datos_cppp[1] %}
{% set cargo_jefe = datos_cppp[2] %}
{% set semestre = datos_practica[0] %}
{% set fecha_inicio = datos_practica[1] %}
{% set fecha_fin = datos_practica[2] %}
{% set informe_id = informe[0] %}
{% set firma_es = informe[3] %}
{% set firma_jefe = informe[4] %}
{% set totalHoras = planes_trabajo|sum(attribute=6) %}
{% set url = url_for('informe_final_es.actualizar_informe_final_es') %}