{% extends "maestra/maestra.html" %}
{% block titulo %} Informe Final Estudiante {% endblock %}
{% set titulo2 = "Agregar Informe Final Estudiante" %}
{% block contenido %}
  
<div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <h5>Introducción</h5>
        <textarea class="form-control" rows="4"></textarea>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-12">
        <h4>Datos del Estudiante</h4>
        <form>
          <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nombre">
            </div>
            <label for="apellidos" class="col-sm-2 col-form-label">Apellidos:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="apellidos">
            </div>
          </div>
          <div class="form-group row">
            <label for="escuela" class="col-sm-2 col-form-label">Escuela Profesional:</label>
            <div class="col-sm-4">
              <select class="form-control" id="escuela">
                <!-- Opciones de la base de datos -->
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="fecha_entrega" class="col-sm-2 col-form-label">Fecha de entrega:</label>
            <div class="col-md-2 mb-4">
              <div class="form-floating">
                <input value="{{fecha_entrega}}" required type="date" class="form-control input" name="fecha_entrega" id="fecha_entrega">
                <label for="fecha_entrega">Fecha de entrega</label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <h4>Descripcion de la institución</h4>
        <form>
          <div class="form-group row">
            <label for="nombre_empresa" class="col-sm-2 col-form-label">Razon social:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nombre_empresa">
            </div>
          </div>
          <div class="form-group row">
            <label for="direccion" class="col-sm-2 col-form-label">Dirección:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="direccion">
            </div>
          </div>
          <div class="form-group row">
            <label for="correo" class="col-sm-2 col-form-label">Giro de la institución:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="correo">
            </div>
          </div>
          <div class="form-group row">
            <label for="correo" class="col-sm-2 col-form-label">Representante legal:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="correo">
            </div>
          </div>
          <div class="form-group row">
            <label for="correo" class="col-sm-2 col-form-label">Cantidad de trabajadores:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="correo">
            </div>
          </div>
        </form>

        <div class="row mt-3">
          <div class="col-6">
            <h5>Misión</h5>
            <div class="form-group">
              <textarea class="form-control" rows="4"></textarea>
            </div>
          </div>
          <div class="col-6">
            <h5>Visión</h5>
            <div class="form-group">
              <textarea class="form-control" rows="4"></textarea>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <h5>Infraestructura fisica</h5>
            <div class="form-group">
              <textarea class="form-control" rows="4"></textarea>
            </div>
          </div>
          <div class="col-6">
            <h5>Infraestructura tecnológica</h5>
            <div class="form-group">
              <textarea class="form-control" rows="4"></textarea>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3">
        <h5 class="">Subir Organigrama</h5>
        <input class="form-control" type="file" id="formFile">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <h5>Labores del estudiante</h5>
        <textarea class="form-control" rows="4">Descripcion y detalle del area de trabajo y relaciones laborales</textarea>
        <textarea class="form-control" rows="4">Descripcion y detalle  de las labores realizadas</textarea>
      </div>
    </div>

        
    <div class="row mt-3">
      <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                  <h5>Conclusiones</h5>
                  <div>
                      <a href="#" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
                  </div>
            </div>
        <form>
          <table class="table">
            <thead class="bg-light">
              <tr>
                <th scope="col">Número</th>
                <th scope="col">Conclusiones</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Conclusion 1. Aqui se debe escribir el objetivo correspondiente a este informe final</td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Conclusion 2. Aqui se debe escribir el objetivo correspondiente a este informe final</td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                  <h5>Recomendaciones</h5>
                  <div>
                      <a href="#" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
                  </div>
            </div>
        <form>
          <table class="table">
            <thead class="bg-light">
              <tr>
                <th scope="col">Número</th>
                <th scope="col">Recomendaciones</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Recomendacion 1. Aqui se debe escribir la recomendacion correspondiente a este informe</td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Recomendacion 2. Aqui se debe escribir la recomendacion correspondiente a este informe</td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
        </form>

      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <h5>Bibliografía</h5>
        <textarea class="form-control" rows="4"></textarea>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <div class="d-flex justify-content-between align-items-center">
          <h5>Anexos</h5>
          <div>
            <a href="#" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
          </div>
        </div>
        <form>
          <table class="table table-responsive-md">
            <thead class="bg-light">
              <tr>
                <th scope="col">Número</th>
                <th scope="col">Anexos</th>
                <th scope="col">Subir</th>
                <th scope="col">Ver</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Anexo 1</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm upload-button" onclick="openFileExplorer(this)"><i class="bi bi-upload"></i></button>
                  <input type="file" class="file-input" style="display: none">
                </td>
                <td><button class="btn btn-secondary btn-sm"><i class="bi bi-eye"></i></button></td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
              <!-- Agregar más filas si es necesario -->
            </tbody>
          </table>
        </form>
      </div>
    </div>
    
    <script>
      function openFileExplorer(button) {
        var fileInput = button.parentNode.querySelector('.file-input');
        fileInput.click();
      }
    </script>
    

    <div class="row mt-3">
      <div class="col-12 text-center">
        <button class="btn btn-success mx-2">Guardar</button>
        <a href="{{url_for('informe_final_es.informe_final_es')}}" class="btn btn-danger mx-2"><i></i></i>&nbsp;&nbsp;Cancelar</a>
      </div>
    </div>
    <div class="mt-3"></div>
  </div>
  {% endblock%}
