{% extends "maestra/maestra.html" %}
{% block titulo %} Plan de Estudio {% endblock %}
{% set titulo2 = "Plan de Estudio " %}
{% block contenido %}
<section class="section contenido">
  <div class="columns">
    <div class="col">
      <div class="row">
        <div class="col d-none d-sm-block above-table">
          <div class="col-auto">
            <div class="row">
              <div class="col-auto">
                <b><label for="Escuela" class="col-form-label">Escuela</label></b>
              </div>
              <div class="col-auto">
                <select class="form-select" aria-label="ESCUELA">
                  <option value="1">Ingenieria de Sistemas y Computación</option>
                  <option value="2"></option>
                  <option value="3"></option>
                </select>
              </div>
              <div class="col-auto">
                <b><label for="Plan Estudio" class="col-form-label">Plan Estudio</label></b>
              </div>
              <div class="col-auto">
                <select class="form-select" aria-label="Plan Estudio">
                  <option value="1">2017-I</option>
                  <option value="2"></option>
                  <option value="3"></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto text-end above-table">
          <input id="searchbar" class="form-control" type="text" placeholder="&#xF002; Buscar">
        </div>
        <div class="col-auto text-end above-table">
          <a href="{{url_for('planEstudio.formulario_agregar_plan_estudio')}}" class="btn btn-success"><i
              class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
        </div>
      </div>
      <div class="col-auto">
        <table class="table table-hover align-middle table-bordered" id="tablita">
          <thead>
            <tr class="table-danger">
              <th class="col-1 text-center d-none d-xl-table-cell">Código</th>
              <th class="col-2 text-center">Plan de Estudio</th>
              <th class="col-1 text-center d-none d-md-table-cell">Estado</th>
              <th class="col-2 text-center">Escuela Profesional</th>
              <th class="col-1 text-center">Editar</th>
              <th class="col-1 text-center">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for planEstudio in plan_estudio %}
            <tr>
              <td class="col-1 text-center d-none d-xl-table-cell">{{planEstudio[0]}}</td>
              <td class="col-2 text-center">{{planEstudio[1]}}</td>

              <td class="col-1 text-center d-none d-md-table-cell">
                <form action="{{url_for('planEstudio.actualizar_estado_plan_estudio')}}" method="POST"
                  class="actualizar_estado">
                  <input type="hidden" name="id" value="{{planEstudio[0]}}">
                  <input type="hidden" name="estado" value="{{planEstudio[2]}}">
                  {% if planEstudio[2]=='A' %}
                  <button type="button" class="estado btn ls-button btn-primary" data-bs-toggle="tooltip"
                    data-bs-title="Desactivar Plan de Estudio">
                    <i class="bi bi-check-square-fill"></i>
                  </button>
                  {% else %}
                  <button type="button" class="estado btn ls-button btn-danger" data-bs-toggle="tooltip"
                    data-bs-title="Activar Plan de Estudio">
                    
                    <i class="bi bi-x-square-fill"></i>
                  </button>
                  {% endif %}
                </form>
              </td>
              <td class="col-2 text-center">{{planEstudio[3]}}</td>
              <td class="col-1 text-center">
                {# Pasar el id lo que hay en planEstudio[0] #}
                <a href="{{url_for('planEstudio.editar_plan_estudio', id=planEstudio[0])}}"
                  class="text-center btn btn-primary ls-button" data-bs-toggle="tooltip"
                  data-bs-title="Editar Plan de Estudio"><i class="fas fa-edit"></i></a>
              </td>
              <td class="col-1 text-center">
                <form action="{{url_for('planEstudio.eliminar_plan_estudio')}}" method="POST" id="eliminar_form">
                  <input type="hidden" name="id" value="{{planEstudio[0]}}">
                  <button class="btn btn-danger ls-button" id="eliminar_btn"
                    onclick="event.preventDefault(); eliminar(this.parentNode)" data-bs-toggle="tooltip"
                    data-bs-title="Eliminar Plan de Estudio"><i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
{% endblock%}