{% extends "mantenimiento_jefe_inmediato.html" %}

{% block titulo %} Editar Responsable de PPP {% endblock %}
{% set titulo2 = "Editar  Responsable de PPP" %}
{% set id = jefe_inmediato[0] %}
{% set nombre = jefe_inmediato[1] %}
{% set correo = jefe_inmediato[2] %}
{% set telefono = jefe_inmediato[3] %}
{% set cargo = jefe_inmediato[4] %}
{% set estado = jefe_inmediato[5] %}
{% set descripcion = jefe_inmediato[6] %}
{% set estado = jefe_inmediato[7] %}
{% set centro_practicas = jefe_inmediato[8] %}
{% set url = url_for('jefe_inmediato.actualizar_jefe_inmediato') %}