{% extends "maestra/maestra.html" %}
{% block titulo %} Responsable de PPP {% endblock %}
{% set titulo2 = "Responsable de PPP" %}
{% block contenido %}
<section class="section contenido">
  <div class="columns">
    <div class="col">
      <div class="row">
        <div class="col d-none d-sm-block above-table">
          <div class="col-auto">
          </div>
        </div>
        <div class="col-auto text-end above-table">
          <input id="searchbar" class="form-control" type="text" placeholder="&#xF002; Buscar">
        </div>
        <div class="col-auto text-end above-table">
          <a href="{{url_for('jefe_inmediato.formulario_agregar_jefe_inmediato')}}" class="btn btn-success"><i
              class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
        </div>
      </div>
      <div class="col-auto">
        <table class="table table-hover align-middle table-bordered" id="tablita">
          <thead>
            <tr class="table-danger">
              <!-- <th class="col-1 text-center d-none d-xl-table-cell">Código</th> -->
              <th class="col-2 text-center">Nombre</th>
              <th class="col-2 text-center d-none d-lg-table-cell">Correo</th>
              <th class="col-2 text-center d-none d-lg-table-cell">Telefono</th>
              <th class="col-2 text-center d-none d-lg-table-cell">Cargo</th>
              <th class="col-2 text-center d-none d-lg-table-cell">Centro Practica</th>
              <th class="col-1 text-center d-none d-lg-table-cell">Estado</th>
              <th class="col-1 text-center">Editar</th>
              <th class="col-1 text-center">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for jefe_inmediato in jefe_inmediato %}
            <tr>
              <!-- <td class="col-1 text-center d-none d-xl-table-cell">{{jefe_inmediato[0]}}</td> -->
              <td class="col-2 text-center">{{jefe_inmediato[1]}}</td>
              <td class="col-2 text-center d-none d-lg-table-cell">{{jefe_inmediato[2]}}</td>
              <td class="col-2 text-center d-none d-lg-table-cell">{{jefe_inmediato[3]}}</td>
              <td class="col-2 text-center d-none d-lg-table-cell">{{jefe_inmediato[4]}}</td>
              <td class="col-2 text-center d-none d-lg-table-cell">{{jefe_inmediato[8]}}</td>
              <td class="col-1 text-center d-none d-md-table-cell">
                <form action="{{url_for('jefe_inmediato.actualizar_estado_jefe_inmediato')}}" method="POST"
                  class="actualizar_estado">
                  <input type="hidden" name="id" value="{{jefe_inmediato[0]}}">
                  <input type="hidden" name="estado" value="{{jefe_inmediato[5]}}">
                  {% if jefe_inmediato[5]=='A' %}
                  <button type="button" class="estado btn ls-button btn-primary" data-bs-toggle="tooltip"
                    data-bs-title="Desactivar Jefe Inmediato" onclick="event.preventDefault(); checkbox(this.parentNode)">
                    <i class="bi bi-check-square-fill"></i>
                  </button>
                  {% else %}
                  <button type="button" class="estado btn ls-button btn-danger" data-bs-toggle="tooltip"
                    data-bs-title="Activar Jefe Inmediato" onclick="event.preventDefault(); checkbox(this.parentNode)">
                    <i class="bi bi-x-square-fill"></i>
                  </button>
                  {% endif %}
                </form>
              </td>

              <td class="col-1 text-center">
                {# Pasar el id lo que hay en jefe_inmediato[0] #}
                <a href="{{url_for('jefe_inmediato.editar_jefe_inmediato', id=jefe_inmediato[0])}}" class="text-center btn btn-primary ls-button"
                  data-bs-toggle="tooltip" data-bs-title="Editar jefe_inmediato"><i class="fas fa-edit"></i></a>
              </td>
              <td class="col-1 text-center">
                <form action="{{url_for('jefe_inmediato.eliminar_jefe_inmediato')}}" method="POST" id="eliminar_form">
                  <input type="hidden" name="id" value="{{jefe_inmediato[0]}}">
                  <button class="btn btn-danger ls-button" id="eliminar_btn"
                    onclick="event.preventDefault(); eliminar(this.parentNode)" data-bs-toggle="tooltip"
                    data-bs-title="Eliminar jefe_inmediato"><i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
{% endblock%}