{% extends "maestra/maestra.html" %}
{% block titulo %} Editar Práctica {% endblock %}
{% set titulo2 = "Editar Práctica" %}
{% block contenido %}

<div class="text-right mb-3 col-2">
  <select class="form-select" id="selectFormulario" name="selectFormulario">
    {% for detallePractica in detallesPracticas%}
    <option value="{{ detallePractica[0] }}"> Practica {{ loop.index }} - {% for centro_practica in centro_practicas %}
      {% if detallePractica[7] == centro_practica[0] %} {{centro_practica[1]}} {% endif %} {% endfor %} </option>
    {% endfor %}
  </select>
</div>


{% for detallePractica in detallesPracticas %}
{% set id = detallePractica[0] %}
{% set estudiante_seleccionado = detallePractica[2] %}
{% set fecha_inicio = detallePractica[5] %}
{% set fecha_fin = detallePractica[6] %}
{% set centro_practica = detallePractica[7] %}
{% set jefe_inmediato = detallePractica[10] %}
{% set semestre = detallePractica[8] %}
{% set linea_desarrollo = detallePractica[4] %}
{% set horas = detallePractica[9] %}
{% set informacion_adicional = detallePractica[11] %}
{% set estado = detallePractica[3] %}
{% set tipo_practica = detallePractica[12] %}
{% set url = url_for('practica.actualizar_practica') %}


<div class="formulario" id="{{ detallePractica[0] }}">

  <section class="section">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">

            <form action="{{url}}" method="post" id="actualizar_form">
              <div class="form-group mb-4 row">
                <label for="estudiante" class="col-lg-2 col-form-label">Estudiante:</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" id="estudiante" name="estudiante"
                    value="{{ estudiante_seleccionado }}" readonly disabled>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="fechaInicio" class="col-lg-2 col-form-label">Fecha de Inicio:</label>
                <div class="col-lg-6">
                  <input type="date" class="form-control input" id="fechaInicio" name="fechaInicio"
                    value="{{fecha_inicio}}" readonly disabled>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="fechaFin" class="col-lg-2 col-form-label">Fecha de Fin:</label>
                <div class="col-lg-6">
                  <input type="date" class="form-control input" id="fechaFin" name="fechaFin" value="{{fecha_fin}}"
                    readonly disabled>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="centro_practica" class="col-lg-2 col-form-label">Centro de Práctica:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="centro_practica" name="centro_practica"
                    value="{{centro_practica}}">
                    {% for centro_practica in centro_practicas %}
                    <option value="{{ centro_practica[0] }}" {% if centro_practica[0]==centro_practica %} selected {%
                      endif %}>{{ centro_practica[1] }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="jefeInmediato" class="col-lg-2 col-form-label">Jefe Inmediato:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="jefeInmediato" name="jefeInmediato" value="{{jefe_inmediato}}">
                    {% for jefeInmediato in jefeInmediatos %}

                    <option value="{{jefeInmediato[0]}}" {% if jefeInmediato[0]==jefe_inmediato %} selected {% endif %}>
                      {{jefeInmediato[1]}}</option>

                    {% endfor %}
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="semestreAcademico" class="col-lg-2 col-form-label">Semestre Académico:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="semestreAcademico" name="semestreAcademico"
                    value="{{semestre_academico}}">
                    {% for semestre_academico in semestre_academicos %}
                    <option value="{{semestre_academico[0]}}" {% if semestre_academico[0]==semestre %} selected {% endif
                      %}>{{semestre_academico[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="lineaDesarrollo" class="col-lg-2 col-form-label">Línea de Desarrollo:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="lineaDesarrollo" name="lineaDesarrollo"
                    value="{{semestre_academico}}">
                    {% for lineaDesarrollo in lineaDesarrollos %}
                    <option value="{{lineaDesarrollo[0]}}" {% if lineaDesarrollo[0]==linea_desarrollo %} selected {%
                      endif %}>{{lineaDesarrollo[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="horas" class="col-lg-2 col-form-label">HORAS:</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control input" id="horas" name="horas" value="{{horas}}" readonly
                    disabled>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="informacion_adicional" class="col-lg-2 col-form-label">Información Adicional:</label>
                <div class="col-lg-6">
                  <textarea class="form-control input" id="informacion_adicional"
                    name="informacion_adicional">{{informacion_adicional}}</textarea>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="estado" class="col-lg-2 col-form-label">Tipo de practica:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="tipo_practica" name="tipo_practica">
                    <option value="Regular" {% if estado == 'Regular' %} selected {% endif %}>Regular</option>
                    <option value="Convalidada" {% if estado == 'Convalidada' %} selected {% endif %}>Convalidada</option>
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="estado" class="col-lg-2 col-form-label">Estado:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="estado" name="estado" value="{{estado}}">
                    <option value="P" {% if estado == 'P' %} selected {% endif %}>En Proceso</option>
                    <option value="F" {% if estado == 'F' %} selected {% endif %}>Finalizado</option>
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <input type="hidden" name="id" value="{{detallePractica[0]}}">
              <input type="hidden" value="{{detallePractica[1]}}" name="id_practica">
            </form>


            <form action="{{ url_for('practica.eliminar_detalle_practica') }}" id="eliminar_form" method="post">
              <input type="hidden" name="id" value="{{detallePractica[0]}}">
              <input type="hidden" value="{{detallePractica[1]}}" name="id_practica">
            </form>

            <button type="submit" form="actualizar_form" class="btn btn-success"><i
                class="fas fa-save"></i>&nbsp;&nbsp;Guardar</button>
            <button type="submit" form="eliminar_form" class="btn btn-danger" data-bs-toggle="tooltip"
              data-bs-title="Eliminar Detalle Practica" onclick="event.preventDefault(); eliminar2()">
              <i class="bi bi-trash-fill"></i>&nbsp;&nbsp;Eliminar
            </button>
            <a href="{{ url_for('practica.practicas') }}" class="btn btn-secondary"><i
                class="fas fa-arrow-left"></i></i>&nbsp;&nbsp;Regresar</a>
          </div>
        </div>
      </div>
  </section>

</div>
{% endfor %}



<script>
  async function eliminar2() {

    const result = await Swal.fire({
      title: '¿Estás seguro?',
      text: 'Esta acción no se puede deshacer',
      icon: 'warning',
      showCancelButton: true,
      cancelButtonText: 'NO',
      confirmButtonText: 'SI',
      reverseButtons: false
    });

    if (result.isConfirmed) {
      const form = document.getElementById('eliminar_form')
      form.submit()
    }


  }
</script>



<script>
  const selectFormulario = document.getElementById("selectFormulario");
  const formularios = document.querySelectorAll(".formulario");
  var valorSeleccionado = selectFormulario.value;

  selectFormulario.addEventListener("change", (event) => {

    valorSeleccionado = selectFormulario.value;

    formularios.forEach((formulario) => {

      if (formulario.id === valorSeleccionado) {
        formulario.classList.remove("d-none");
      } else {
        formulario.classList.add("d-none");
      }
    });
  });

  formularios.forEach((formulario) => {

    if (formulario.id === valorSeleccionado) {
    } else {
      formulario.classList.add("d-none");
    }
  });
</script>




{% endblock %}