{% extends "maestra/maestra.html" %}
{% block titulo %} Editar Práctica {% endblock %}
{% set titulo2 = "Editar Práctica" %}
{% block contenido %}

<div class="text-right mb-3 col-2">
  <select class="form-select" id="selectFormulario" name="selectFormulario">
    {% for detallePractica in detallesPracticas%}
    <option value="{{ detallePractica[0] }}"> Practica {{ loop.index }} </option>
    {% endfor %}
  </select>
</div>


{% for detallePractica in detallesPracticas %}
{% set id = detallePractica[0] %}
{% set estudiante_seleccionado = detallePractica[2] %}
{% set fecha_inicio = detallePractica[5] %}
{% set fecha_fin = detallePractica[6] %}
{% set centro_practica = detallePractica[7] %}
{% set jefe_inmediato = detallePractica[10] %}
{% set semestre = detallePractica[8] %}
{% set linea_desarrollo = detallePractica[4] %}

{% set horas = detallePractica[9] %}
{% set informacion_adicional = detallePractica[11] %}
{% set estado = detallePractica[3] %}
{% set url = url_for('practica.actualizar_practica') %}


<div class="formulario" id="{{ detallePractica[0] }}">
  <form action="{{url}}" method="post">
    <section class="section">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="form-group mb-4 row">
                <label for="estudiante" class="col-lg-2 col-form-label">Estudiante:</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control" id="estudiante" name="estudiante"
                    value="{{ estudiante_seleccionado }}" readonly disabled>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="fechaInicio" class="col-lg-2 col-form-label">Fecha de Inicio:</label>
                <div class="col-lg-6">
                  <input type="date" class="form-control input" id="fechaInicio" name="fechaInicio"
                    value="{{fecha_inicio}}" readonly disabled>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="fechaFin" class="col-lg-2 col-form-label">Fecha de Fin:</label>
                <div class="col-lg-6">
                  <input type="date" class="form-control input" id="fechaFin" name="fechaFin" value="{{fecha_fin}}"
                    readonly disabled>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="centro_practica" class="col-lg-2 col-form-label">Centro de Práctica:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="centro_practica" name="centro_practica"
                    value="{{centro_practica}}">
                    {% for centro_practica in centro_practicas %}
                    <option value="{{ centro_practica[0] }}" {% if centro_practica[0]==centro_practica %} selected {% endif %}>{{ centro_practica[1] }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="jefeInmediato" class="col-lg-2 col-form-label">Jefe Inmediato:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="jefeInmediato" name="jefeInmediato" value="{{jefe_inmediato}}">
                    {% for jefeInmediato in jefeInmediatos %}

                    <option value="{{jefeInmediato[0]}}" {% if jefeInmediato[0]==jefe_inmediato %} selected {% endif %}>
                      {{jefeInmediato[1]}}</option>

                    {% endfor %}
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="semestreAcademico" class="col-lg-2 col-form-label">Semestre Académico:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="semestreAcademico" name="semestreAcademico"
                    value="{{semestre_academico}}">
                    {% for semestre_academico in semestre_academicos %}
                    <option value="{{semestre_academico[0]}}" {% if semestre_academico[0]==semestre %} selected {% endif
                      %}>{{semestre_academico[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="lineaDesarrollo" class="col-lg-2 col-form-label">Línea de Desarrollo:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="lineaDesarrollo" name="lineaDesarrollo"
                    value="{{semestre_academico}}">
                    {% for lineaDesarrollo in lineaDesarrollos %}
                    <option value="{{lineaDesarrollo[0]}}" {% if lineaDesarrollo[0]==linea_desarrollo %} selected {%
                      endif %}>{{lineaDesarrollo[1]}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="horas" class="col-lg-2 col-form-label">HORAS:</label>
                <div class="col-lg-6">
                  <input type="text" class="form-control input" id="horas" name="horas" value="{{horas}}" readonly
                    disabled>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="informacion_adicional" class="col-lg-2 col-form-label">Información Adicional:</label>
                <div class="col-lg-6">
                  <textarea class="form-control input" id="informacion_adicional"
                    name="informacion_adicional">{{informacion_adicional}}</textarea>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <div class="form-group mb-4 row">
                <label for="estado" class="col-lg-2 col-form-label">Estado:</label>
                <div class="col-lg-6">
                  <select class="form-select input" id="estado" name="estado" value="{{estado}}">
                    <option value="P">En Proceso</option>
                    <option value="F">Finalizado</option>
                    <option value="O">Otro estado</option>
                  </select>
                </div>
                <div class="col d-none d-xl-block">
                </div>
              </div>
              <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>&nbsp;&nbsp;Guardar</button>
              <span class="eliminar_detalle_practica" data-id="{{detallePractica[0]}}" onclick="eliminar2(this)">
                <button type="button" class="btn btn-danger" data-bs-toggle="tooltip"
                  data-bs-title="Eliminar Detalle Practica">
                  <i class="bi bi-trash-fill"></i>&nbsp;&nbsp;Eliminar
                </button>
              </span>
              <input type="hidden" name="id" value="{{detallePractica[0]}}">
              <input type="hidden" value="{{detallePractica[1]}}" name="id_practica">

              <a href="{{ url_for('practica.practicas') }}" class="btn btn-secondary"><i
                  class="fas fa-arrow-left"></i></i>&nbsp;&nbsp;Regresar</a>
            </div>
          </div>
        </div>
    </section>
  </form>
</div>
{% endfor %}



<script>
  async function eliminar2(span) {

    const result = await Swal.fire({
      title: '¿Estás seguro?',
      text: 'Esta acción no se puede deshacer',
      icon: 'warning',
      showCancelButton: true,
      cancelButtonText: 'NO',
      confirmButtonText: 'SI',
      reverseButtons: false
    });

    if (result.isConfirmed) {
      // Envía el formulario
      let id = span.getAttribute("data-id");
      let id_practica = '{{ id_practica }}'
      let url = "{{url_for('practica.eliminar_detalle_practica')}}";
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id, id_practica })
      }).then(() => {
        location.reload();
      });
    }


  }
</script>



<script>
  const selectFormulario = document.getElementById("selectFormulario");
  const formularios = document.querySelectorAll(".formulario");
  var valorSeleccionado = selectFormulario.value;

  selectFormulario.addEventListener("change", (event) => {

    valorSeleccionado = selectFormulario.value;

    formularios.forEach((formulario) => {

      if (formulario.id === valorSeleccionado) {
        formulario.classList.remove("d-none");
      } else {
        formulario.classList.add("d-none");
      }
    });
  });

  formularios.forEach((formulario) => {

    if (formulario.id === valorSeleccionado) {
    } else {
      formulario.classList.add("d-none");
    }
  });
</script>




{% endblock %}