{% extends "maestra/maestra.html" %}
{% block titulo %} practica Académico {% endblock %}
{% set titulo2 = "practica Académico" %}
{% block contenido %}
<section class="section contenido">
  <div class="columns">
    <div class="col">
      <div class="row">
        <div class="col d-none d-sm-block above-table">
        </div>
        <div class="col-auto text-end above-table">
          <input id="searchbar" class="form-control" type="text" placeholder="Buscar">
        </div>
        <div class="col-auto text-end above-table">
          <a href="{{url_for('practica.formulario_agregar_practica')}}" class="btn btn-success"><i
              class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
        </div>
      </div>
      <div class="col-auto">
        <table class="table table-hover align-middle table-bordered" id="tablita">
          <thead>
            <tr class="table-danger">
              <th class="col-2 text-center">Estudiante</th>
              <th class="col-1 text-center d-none d-md-table-cell">Estado</th>
              <th class="col-1 text-center">Mas detalles</th>
              <th class="col-1 text-center">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for practica in practicas %}
            <tr>
              <td class="col-2 text-center">{{practica[1]}}</td>
              <td class="col-1 text-center d-none d-md-table-cell">
                <form action="{{url_for('practica.actualizar_estado_practica')}}" method="POST" class="actualizar_estado">
                  <input type="hidden" name="id" value="{{practica[0]}}">
                  <input type="hidden" name="estado" value="{{practica[2]}}">
                  {% if practica[2]=='P' %}
                  <button type="button" class="estado btn ls-button btn-warning" data-bs-toggle="tooltip"
                    data-bs-title="Finalizar Practica" onclick="event.preventDefault(); checkbox(this.parentNode)">
                    <i class="fa fa-hourglass-end"></i>
                  </button>
                  {% else %}
                  <button type="button" class="estado btn ls-button btn-success" data-bs-toggle="tooltip"
                    data-bs-title="Reactivar Practica" onclick="event.preventDefault(); checkbox(this.parentNode)">
                    
                    <i class="bi bi-check-square-fill"></i>
                  </button>
                  {% endif %}
                </form>
              </td>
              <td class="col-1 text-center">
                {# Pasar el id lo que hay en practica[0] #}
                <a href="{{url_for('practica.editar_practica', id=practica[0])}}" class="text-center btn btn-primary ls-button"
                  data-bs-toggle="tooltip" data-bs-title="Mas Detalles"><i class="fa fa-eye"></i></a>
              </td>
              <td class="col-1 text-center">
                <form action="{{url_for('practica.eliminar_practica_route')}}" method="POST" class="eliminar_practica">
                  <input type="hidden" name="id" value="{{practica[0]}}">
                  <button type="button" class="estado btn ls-button btn-danger" data-bs-toggle="tooltip" data-bs-title="Eliminar Practica" onclick="event.preventDefault(); eliminar(this.parentNode)">
                    <i class="bi bi-trash-fill"></i>
                  </button>
                </form>                
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
{% endblock%}