{% extends "maestra.html" %}
{% block titulo %}
Agregar Semestre
{% endblock %}


{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Agregar Semestre Académico</h3>
            <form action="{{url_for('guardar_semestre')}}" method="post">
                
                <label for="nombre">Nombre:</label>
                <input required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                <label for="artista">Fecha de inicio</label>
                <input required type="date" class="input" placeholder="Fecha de inicio" name="fecha_inicio" id="fecha_inicio">
                <label for="precio">Fecha de fin</label>
                <input required type="date" class="input" placeholder="fecha de fin" name="fecha_fin" id="fecha_fin">
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('semestres')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}

