{% extends "maestra.html" %}
{% block titulo %}
Editar Semestre
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Editar Semestre Académico</h3>
            <form action="{{url_for('actualizar_semestre')}}" method="post">
                {# Enviar el id en un campo oculto #}
                <input type="hidden" name="id" value="{{semestre[0]}}">


                <label for="nombre">Nombre:</label>
                <input value="{{semestre[1]}}" required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
                
                
                <label for="fecha_inicio">fecha_inicio</label>
                <input value="{{semestre[2]}}" required type="date" class="input" name="fecha_inicio" id="fecha_inicio">
                
                
                <label for="fecha_fin">fecha_fin</label>
                <input value="{{semestre[3]}}" required type="date" class="input" name="fecha_fin" id="fecha_fin">
                
                
                    <label for="estado">estado</label>
                    <select value="{{semestre[4]}}" class="form-select" name="estado" id="estado"> 
                        <option>Activo</option>
                        <option>Inactivo</option>
                    </select>
             
                
                
                
                <button type="submit" class="button is-success mt-2">Guardar</button>
                <a href="{{url_for('semestres')}}" class="button is-primary mt-2">Volver</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}


