<div id="sidebar-wrapper" class="border-end offcanvas-lg offcanvas-start">

  <div class="sidebar-heading bg-danger text-center py-4 fs-4 fw-bolder text-uppercase">
    <a class="first-text" href="{{url_for('inicio.inicio')}}">Prácticas pre profesionales</a>
  </div>

  <div class="list-group list-group-flush">

    <a href="#moduloInstitucion" data-bs-toggle="collapse" aria-expanded="false"
      class="list-group-item list-group-item-action fw-bolder flex-wrap ">
      <i class="fas fa-university"></i>
      <span class="d-none d-sm-inline">Institución</span></a>

    <ul class="collapse " id="moduloInstitucion">
      <a class="list-group-item list-group-item-action" href="{{url_for('facultad.facultades')}}">Facultad</a>
      <a class="list-group-item list-group-item-action" href="{{url_for('escuela.escuelas')}}">Escuela Profesional</a>
      <a class="list-group-item list-group-item-action" href="{{url_for('planEstudio.plan_estudio')}}">Plan de estudio</a>
      <a class="list-group-item list-group-item-action" href="{{url_for('lineaDesarrollo.linea_desarrollo')}}">Línea de desarrollo</a>
      <a class="list-group-item list-group-item-action" href="{{url_for('semestre.semestres')}}">Semestre Académico</a>
      <a class="list-group-item list-group-item-action" href="{{url_for('estudiante.estudiante')}}">Estudiante</a>
      <a class="list-group-item list-group-item-action" href="{{url_for('docente.docentes')}}">Docente de apoyo</a>
      <a class="list-group-item list-group-item-action" href="{{url_for('tituloProfesional.titulo_profesional')}}">Titulo Profesional</a>
    </ul>


    <a href="#moduloPractica" data-bs-toggle="collapse" aria-expanded="false"
      class="list-group-item list-group-item-action fw-bolder flex-wrap"><i class="fas fa-file-alt"></i>
      <span class="d-none d-sm-inline">Práctica</span></a>

    <ul class="collapse" id="moduloPractica">
      <a class="list-group-item list-group-item-action " href="{{url_for('practica.practicas')}}">Práctica</a>
      <a class="list-group-item list-group-item-action fw-bolder flex-wrap" href="#submoduloDocumentos"
        data-bs-toggle="collapse" aria-expanded="false">Documentos</a>

      <ul class="collapse" id="submoduloDocumentos">
        <a class="list-group-item list-group-item-action " href="{{url_for('informe_inicial_es.informe_inicial_es')}}">Informe Inicial Estudiante</a>
        <a class="list-group-item list-group-item-action " href="{{url_for('informe_inicial_em.informe_inicial_em')}}">Informe Inicial Empresa</a>
        <a class="list-group-item list-group-item-action " href="{{url_for('ficha_desempeno.ficha_desempeno')}}">Evaluación de desempeño</a>
        <a class="list-group-item list-group-item-action " href="{{url_for('informe_final_es.informe_final_es')}}">Informe Final Estudiante</a>
        <a class="list-group-item list-group-item-action " href="{{url_for('informe_final_em.informe_final_em')}}">Informe Final Empresa</a>
      </ul>

      <a class="list-group-item list-group-item-action " href="{{url_for('jefe_inmediato.jefe_inmediato')}}">Responsable de Prácticas PPP</a>
      <a class="list-group-item list-group-item-action " href="{{url_for('centroPPP.centro_PPP')}}">Centro de prácticas</a>
    </ul>      
  </div>

</div>
