{% extends "mantenimiento_ficha_desempeno.html" %}
{% block titulo %}
Editar Ficha de Desempeño del Estudiante
{% endblock %}
{% set titulo2 = "Agregar Ficha de Desempeño del Estudiante" %}

{% set nombre = estudiante[0] %}
{% set escuela_Profesional = estudiante[1] %}
{% if estudiante[2] is none or estudiante[3] is none %}
  {% set periodo_practica = "- - -" %}
{% else %}
  {% set periodo_practica = estudiante[2] ~ "-" ~ estudiante[3] %}
{% endif %}
{% set nombre_empresa= datos_cppp[0] %}
{% set direccion = datos_cppp[1] %}
{% set nombre_responsable = datos_cppp[2] %}
{% set correo_responsable = datos_cppp[3] %}
{% set fecha_fin = datos_practica[2] %}
{% set id_ficha = ficha_desempeno[0] %}
{% set firma_es = ficha_desempeno[3] %}
{% set firma_jefe = ficha_desempeno[4] %}
{% set estado = ficha_desempeno[5] %}
{% set totalHoras = 0 -%}
{% set url = url_for('ficha_desempeno.actualizar_ficha_desempeno') %}