{% extends "maestra/maestra.html" %}
{% block titulo %} Ficha de Evaluacion Desempeño {% endblock %}
{% set titulo2 = "Agregar Ficha de Evaluacion de Desempeño" %}
{% block contenido %}
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <h4>Datos del Estudiante</h4>
        <form>
          <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nombre">
            </div>
            <label for="apellidos" class="col-sm-2 col-form-label">Apellidos:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="apellidos">
            </div>
          </div>
          <div class="form-group row">
            <label for="escuela" class="col-sm-2 col-form-label">Escuela Profesional:</label>
            <div class="col-sm-4">
              <select class="form-control" id="escuela">
                <!-- Opciones de la base de datos -->
              </select>
            </div>
            <label for="periodo" class="col-sm-2 col-form-label">Periodo de Prácticas:</label>
            <div class="col-sm-4">
              <select class="form-control" id="periodo">
                <!-- Opciones de la base de datos -->
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="area" class="col-sm-2 col-form-label">Área de Desempeño:</label>
            <div class="col-sm-4">
              <select class="form-control" id="area">
                <!-- Opciones de la base de datos -->
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h4>Datos de la Empresa</h4>
        <form>
          <div class="form-group row">
            <label for="nombre_empresa" class="col-sm-2 col-form-label">Nombre de la Empresa:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nombre_empresa">
            </div>
          </div>
          <div class="form-group row">
            <label for="direccion" class="col-sm-2 col-form-label">Dirección:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="direccion">
            </div>
            <label for="responsable" class="col-sm-2 col-form-label">Nombre del Responsable:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="responsable">
            </div>
          </div>
          <div class="form-group row">
            <label for="correo" class="col-sm-2 col-form-label">Correo del Responsable:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="correo">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h5>Sírvase marcar con un check la respuesta que describa mejor su opinión:</h5>
        <form >
          <table class="table">
            <thead class="bg-light">
              <tr>
                <th scope="col">Número</th>
                <th scope="col">Característica a Evaluar</th>
                <th scope="col">Deficiente</th>
                <th scope="col">Regular</th>
                <th scope="col">Bueno</th>
                <th scope="col">Muy Bueno</th>
              </tr>
            </thead>
            <tbody>  
                <th  scope="row">1</th>
                <td>Responsabilidad</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Proactividad</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Comunicación asertiva</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Trabajo en equipo</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Compromiso con la calidad</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Organización en el trabajo</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Puntualidad y asistencia</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
    
        
    <div class="row mt-3">
      <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                  <h5>Objetivos</h5>
                  <div>
                      <a href="#" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
                  </div>
            </div>
        <form>
          <table class="table">
            <thead class="bg-light">
              <tr>
                <th scope="col">Enumeración</th>
                <th scope="col">Resultados del Aprendizaje</th>
                <th scope="col">Deficiente</th>
                <th scope="col">Regular</th>
                <th scope="col">Bueno</th>
                <th scope="col">Muy Bueno</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Logro del desarrollo esperado</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Logro del desarrollo esperado</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Logro del desarrollo esperado</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h5>Conclusiones</h5>
        <textarea class="form-control" rows="4"></textarea>
      </div>
    </div>

  <div class="row mt-3">
      <div class="col-md-3">
        <h5 class="">Subir firma del representante de la institución</h5>
        <input class="form-control" type="file" id="formFile">
      </div>
  </div>

    <div class="row mt-3">
      <div class="col-12 text-center">
        <button class="btn btn-success mx-2">Guardar</button>
        <a href="{{url_for('ficha_desempeno.ficha_desempeno')}}" class="btn btn-danger mx-2"><i></i></i>&nbsp;&nbsp;Cancelar</a>
      </div>
    </div>
    <div class="mt-3"></div>
  </div>
  {% endblock%}
