{% extends "maestra/maestra.html" %}
{% block titulo %} Ficha de Evaluacion Desempeño {% endblock %}
{% set titulo2 = "Agregar Ficha de Evaluacion de Desempeño" %}
{% block contenido %}
  <div class="container-fluid">
    <script>
document.addEventListener('DOMContentLoaded', function() {
  var table = document.getElementById('table');
  var radioButtons = table.querySelectorAll('input[type="radio"]');

  table.addEventListener('click', function(event) {
    var target = event.target;
    if (target.type === 'radio') {
      target.checked = true;
    } else if (target.tagName === 'TD') {
      var rowIndex = target.parentNode.rowIndex;
      var input = table.rows[rowIndex].querySelector('input[type="radio"][name="' + target.dataset.name + '"]');
      if (input) {
        input.checked = true;
      }
    }
  });

  for (var i = 0; i < radioButtons.length; i++) {
    radioButtons[i].addEventListener('click', function(event) {
      event.stopPropagation();
    });
  }
});
    </script>
    <script>
      function soloLetras(event) {
          var charCode = event.keyCode || event.which;
          var charStr = String.fromCharCode(charCode);
          var pattern = /^[a-zA-Z\ssáéíóúÁÉÍÓÚñÑ]+$/;
          if (!pattern.test(charStr)) {
              event.preventDefault();
              return false;
          }
      }
      </script>
    <p class="form-control-static">
      La Universidad Católica Santo Toribio de Mogrovejo (USAT) agradece la valiosa colaboración de su Institución en la formación profesional de los estudiantes de nuestra casa de estudios. 
      El objetivo de esta evaluación es recoger información sobre el desempeño de nuestros estudiantes durante el periodo de prácticas pre profesionales. En tal sentido, le agradeceremos responderla de manera objetiva, ya que su opinión nos ayudará a mejorar el nivel de las Prácticas Pre profesionales que son requisito para la titulación de nuestros estudiantes.
    </p>

    <div class="row mt-3">
      <div class="col-12">
        <h4>Datos del Estudiante</h4>
        <form>
          <div class="form-group row mb-3">
            <label for="nombres" class="col-sm-2 col-form-label">Nombres:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nombres" value="{{nombre}}" readonly onkeypress="return soloLetras(event)">
            </div>           
          </div>
          <div class="form-group row mb-3">
            <label for="escuelaProfesional" class="col-sm-2 col-form-label">Escuela Profesional:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="escuelaProfesional" value="{{escuela_Profesional}}" readonly>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="periodo" class="col-sm-2 col-form-label">Periodo de Prácticas:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="periodo" value="{{periodo_practica}}" readonly>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="areaDesempeno" class="col-sm-2 col-form-label">Área de Desempeño:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="areaDesempeno" value="{{area_desempeno}}">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h4>Datos de la Empresa</h4>
        <form>
          <div class="form-group row mb-3">
            <label for="nombre_empresa" class="col-sm-2 col-form-label">Nombre de la Empresa:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nombre_empresa" value="{{nombre_empresa}}" readonly>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="direccion" class="col-sm-2 col-form-label">Dirección:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="direccion" value="{{direccion}}" readonly>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="responsable" class="col-sm-2 col-form-label">Nombre del Responsable:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="responsable" value="{{nombre_responsable}}" readonly>
            </div>
          </div>
          <div class="form-group row mb-3">
            <label for="correo" class="col-sm-2 col-form-label">Correo del Responsable:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="correo" value="{{correo_responsable}}" readonly>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h5>Sírvase marcar con un radio button la respuesta que describa mejor su opinión:</h5>
        <form>
          <table class="table" id="table">
            <thead class="bg-light">
              <tr>
                <th class="col-1">Número</th>
                <th class="col">Característica a Evaluar</th>
                <th class="text-center">Deficiente</th>
                <th class="text-center">Regular</th>
                <th class="text-center">Bueno</th>
                <th class="text-center">Muy Bueno</th>
              </tr>
            </thead>
            <tbody id="table">
              <tr>
                <th scope="row">1</th>
                <td>Responsabilidad</td>
                <td class="text-center"><input type="radio" name="responsabilidad" value="deficiente"></td>
                <td class="text-center"><input type="radio" name="responsabilidad" value="regular"></td>
                <td class="text-center"><input type="radio" name="responsabilidad" value="bueno"></td>
                <td class="text-center"><input type="radio" name="responsabilidad" value="muybueno"></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Proactividad</td>
                <td class="text-center"><input type="radio" name="proactividad" value="deficiente"></td>
                <td class="text-center"><input type="radio" name="proactividad" value="regular"></td>
                <td class="text-center"><input type="radio" name="proactividad" value="bueno"></td>
                <td class="text-center"><input type="radio" name="proactividad" value="muybueno"></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Comunicación asertiva</td>
                <td class="text-center"><input type="radio" name="comunicacion" value="deficiente"></td>
                <td class="text-center"><input type="radio" name="comunicacion" value="regular"></td>
                <td class="text-center"><input type="radio" name="comunicacion" value="bueno"></td>
                <td class="text-center"><input type="radio" name="comunicacion" value="muybueno"></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Trabajo en equipo</td>
                <td class="text-center"><input type="radio" name="trabajoequipo" value="deficiente"></td>
                <td class="text-center"><input type="radio" name="trabajoequipo" value="regular"></td>
                <td class="text-center"><input type="radio" name="trabajoequipo" value="bueno"></td>
                <td class="text-center"><input type="radio" name="trabajoequipo" value="muybueno"></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Compromiso con la calidad</td>
                <td class="text-center"><input type="radio" name="compromiso" value="deficiente"></td>
                <td class="text-center"><input type="radio" name="compromiso" value="regular"></td>
                <td class="text-center"><input type="radio" name="compromiso" value="bueno"></td>
                <td class="text-center"><input type="radio" name="compromiso" value="muybueno"></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Organización en el trabajo</td>
                <td class="text-center"><input type="radio" name="organizacion" value="deficiente"></td>
                <td class="text-center"><input type="radio" name="organizacion" value="regular"></td>
                <td class="text-center"><input type="radio" name="organizacion" value="bueno"></td>
                <td class="text-center"><input type="radio" name="organizacion" value="muybueno"></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Puntualidad y asistencia</td>
                <td class="text-center"><input type="radio" name="puntualidad" value="deficiente"></td>
                <td class="text-center"><input type="radio" name="puntualidad" value="regular"></td>
                <td class="text-center"><input type="radio" name="puntualidad" value="bueno"></td>
                <td class="text-center"><input type="radio" name="puntualidad" value="muybueno"></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
    

    <!-- Para validar los chebox: en caso de marcar tenemos que presionar en mismo para desmarcar -->
    <!-- <script>
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');
    
      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
          const selectedCheckboxes = document.querySelectorAll(`input[name="${checkbox.name}"]:checked`);
          if (selectedCheckboxes.length > 1) {
            checkbox.checked = false;
          }
        });
      });
    </script> -->

    <script>
      const checkboxes = document.querySelectorAll('input[type="checkbox"]')
    
      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener('change', () => {
          const selectedCheckboxes = document.querySelectorAll(`input[name="${checkbox.name}"]`)
    
          selectedCheckboxes.forEach((cb) => {
            if (cb !== checkbox) {
              cb.checked = false
            }
          })
        })
      })
    </script>

<div class="row mt-3">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center">
      <h5>Resultados de aprendizaje</h5>
      <div>
        <a href="#" class="btn btn-success" id="btnAgregarResultado">
          <i class="fas fa-plus-circle"></i>&nbsp;Agregar
        </a>
      </div>
    </div>
    <form>
      <table class="table" id="tablaResultados">
        <thead class="bg-light">
          <tr>
            <th class="col-1">Enumeración</th>
            <th class="col">Resultados del Aprendizaje</th>
            <th class="col-1 text-center">Deficiente</th>
            <th class="col-1 text-center">Regular</th>
            <th class="col-1 text-center">Bueno</th>
            <th class="col-1 text-center">Muy Bueno</th>
            <th class="col-1 text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </form>
  </div>
</div>

<script>
  const btnAgregarResultado = document.getElementById('btnAgregarResultado');
  const tablaResultados = document.getElementById('tablaResultados');

  btnAgregarResultado.addEventListener('click', (event) => {
    event.preventDefault();
    const contadorFilas = tablaResultados.rows.length;

    const nuevaFila = `
      <tr>
        <th scope="row">${contadorFilas}</th>
        <td><input type="text" class="form-control" placeholder="Resultado de Aprendizaje ${contadorFilas}"></td>
        <td class="text-center"><input type="checkbox" name="logro${contadorFilas}" value="deficiente" onclick="limitarSeleccion(this)"></td>
        <td class="text-center"><input type="checkbox" name="logro${contadorFilas}" value="regular" onclick="limitarSeleccion(this)"></td>
        <td class="text-center"><input type="checkbox" name="logro${contadorFilas}" value="bueno" onclick="limitarSeleccion(this)"></td>
        <td class="text-center"><input type="checkbox" name="logro${contadorFilas}" value="muybueno" onclick="limitarSeleccion(this)"></td>
        <td class="text-center"><button class="btn btn-danger btn-sm" onclick="eliminarFila(this)"><i class="bi bi-trash"></i></button></td>
      </tr>
    `;

    tablaResultados.querySelector('tbody').insertAdjacentHTML('beforeend', nuevaFila);
  });

  function limitarSeleccion(checkbox) {
    const checkboxes = checkbox.parentNode.parentNode.getElementsByTagName('input');

    for (let i = 0; i < checkboxes.length; i++) {
      if (checkboxes[i] !== checkbox) {
        checkboxes[i].checked = false;
      }
    }
  }

  function eliminarFila(botonEliminar) {
    const fila = botonEliminar.parentNode.parentNode;
    fila.remove();

    const filas = tablaResultados.querySelectorAll('tbody tr');
    for (let i = 0; i < filas.length; i++) {
      const enumeracion = filas[i].querySelector('th');
      enumeracion.textContent = i + 1;

      const campoResultado = filas[i].querySelector('input[type="text"]');
      campoResultado.placeholder = `Resultado de Aprendizaje ${i + 1}`;
    }
  }
</script>


    <div class="row mt-3">
      <div class="col-12">
        <h5>Conclusiones</h5>
        <textarea class="form-control" rows="4" id="txtConclusiones" placeholder="Ingrese la conclusion"></textarea>
      </div>
    </div>

  <div class="row mt-3">
      <div class="col-md-3">
        <h5 class="">Subir firma del representante de la institución</h5>
        <input class="form-control" type="file" id="fileRepresentante">
      </div>
  </div>

    <div class="row mt-3">
      <div class="col-12 text-center">
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i>&nbsp;&nbsp;Guardar</button>
        <a href="{{url_for('ficha_desempeno.ficha_desempeno')}}" class="btn btn-danger mx-2"><i></i></i>&nbsp;&nbsp;Cancelar</a>
      </div>
    </div>
    <div class="mt-3"></div>
  </div>
  {% endblock%}
