{% extends "maestra/maestra.html" %}
{% block titulo %} Titulo Profesional {% endblock %}
{% set titulo2 = "Titulo Profesional" %}
{% block contenido %}
<section class="section contenido">
  <div class="columns">
    <div class="col">
      <div class="row">
        <div class="col d-none d-sm-block above-table">
        </div>
        <div class="col-auto text-end above-table">
          <input id="searchbar" class="form-control" type="text" placeholder="&#xF002; Buscar">
        </div>
        <div class="col-auto text-end above-table">
          <a href="{{url_for('tituloProfesional.formulario_agregar_tituloProfesional')}}" class="btn btn-success"><i
              class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
        </div>
      </div>
      <div class="col-auto">
        <table class="table table-hover align-middle table-bordered" id="tablita">
          <thead>
            <tr class="table-danger">
              <th class="col-1 text-center d-none d-xl-table-cell">Código</th>
              <th class="col-2 text-center">Nombre</th>
              <th class="col-2 text-center">Descripcion</th>
              <th class="col-1 text-center d-none d-md-table-cell">Estado</th>
              <th class="col-1 text-center">Editar</th>
              <th class="col-1 text-center">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for tituloProfesional in titulo_profesional %}
            <tr>
              <td class="col-1 text-center d-none d-xl-table-cell">{{tituloProfesional[0]}}</td>
              <td class="col-2 text-center">{{tituloProfesional[1]}}</td>
              <td class="col-2 text-center d-none d-lg-table-cell">{{tituloProfesional[2]}}</td>
              <td class="col-1 text-center d-none d-md-table-cell">
                <form action="{{url_for('tituloProfesional.actualizar_estado_tituloProfesional')}}" method="POST"
                  class="actualizar_estado">
                  <input type="hidden" name="id" value="{{tituloProfesional[0]}}">
                  <input type="hidden" name="estado" value="{{tituloProfesional[3]}}">
                  {% if tituloProfesional[3]=='A' %}
                  <button type="button" class="estado btn ls-button btn-primary" data-bs-toggle="tooltip"
                    data-bs-title="Desactivar Titulo Profesional" onclick="event.preventDefault(); checkbox(this.parentNode)">
                    <i class="bi bi-check-square-fill"></i>
                  </button>
                  {% else %}
                  <button type="button" class="estado btn ls-button btn-danger" data-bs-toggle="tooltip"
                    data-bs-title="Activar Titulo Profesional" onclick="event.preventDefault(); checkbox(this.parentNode)">

                    <i class="bi bi-x-square-fill"></i>
                  </button>
                  {% endif %}
                </form>
              </td>
              <td class="col-1 text-center">
                {# Pasar el id lo que hay en tituloProfesional[0] #}
                <a href="{{url_for('tituloProfesional.editar_tituloProfesional', id=tituloProfesional[0])}}"
                  class="text-center btn btn-primary ls-button" data-bs-toggle="tooltip"
                  data-bs-title="Editar Titulo Profesional"><i class="fas fa-edit"></i></a>
              </td>
              <td class="col-1 text-center">
                <form action="{{url_for('tituloProfesional.eliminar_tituloProfesional')}}" method="POST"
                  id="eliminar_form">
                  <input type="hidden" name="id" value="{{tituloProfesional[0]}}">
                  <button class="btn btn-danger ls-button" id="eliminar_btn"
                    onclick="event.preventDefault(); eliminar(this.parentNode)" data-bs-toggle="tooltip"
                    data-bs-title="Eliminar Titulo Profesional"><i class="fas fa-trash"></i></button>
                </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>


        </table>
      </div>

    </div>
  </div>
</section>
{% endblock%}