{% extends "mantenimiento_informe_inicial_es.html" %}
{% block titulo %}
Editar Informe Inicial Estudiante
{% endblock %}
{% set titulo2 = "Agregar Informe Inicial Estudiante" %}

{% set nombre = estudiante[0] %}
{% set codigo_universidatrio = estudiante[1] %}
{% set razon_social = datos_cppp[0] %}
{% set jefe = datos_cppp[1] %}
{% set cargo_jefe = datos_cppp[2] %}
{% set semestre = datos_practica[0] %}
{% set fecha_inicio = datos_practica[1] %}
{% set fecha_fin = datos_practica[2] %}
{% set id_informe = informe[0] %}
{% set firma_es = informe[3] %}
{% set firma_jefe = informe[4] %}
{% set estado = informe[5] %}
{% set totalHoras = 0 -%}
{% set url = url_for('informe_inicial_es.actualizar_informe_inicial_es') %}