{% extends "maestra/maestra.html" %}
{% block titulo %} Informe Incial Estudiante {% endblock %}
{% set titulo2 = "Informe Incial Estudiante" %}
{% block contenido %}
<section class="section contenido">
  <div class="columns">
    <div class="col">
      <div class="row">
        <div class="col d-none d-sm-block above-table">
        </div>
        <div class="col-auto text-end above-table">
          <input id="searchbar" class="form-control" type="text" placeholder="&#xF52A; Buscar">
        </div>
      </div>
      <div class="col-auto">
        <table class="table table-hover align-middle table-bordered" id="tablita">
          <thead>
            <tr class="table-danger">
              <th class="col-2 text-center d-none d-xl-table-cell">Código Universitario</th>
              <th class="col-3 text-center">Estudiante</th>
              <th class="col-3 text-center">Centro de prácticas</th>
              <th class="col-1 text-center d-none d-md-table-cell">Estado</th>
              <th class="col-1 text-center">{% if session['rol']=="Docente de Apoyo" %}Ver{% else %}Editar{% endif %}
              </th>
              <th class="col-1 text-center">Descargar</th>
            </tr>
          </thead>
          <tbody>
            {% for informe in informes %}
            <tr>
              <td class="col-2 d-xl-table-cell">{{informe[1]}}</td>
              <td class="col-3">{{informe[2]}}</td>
              <td class="col-3">{{informe[3]}}</td>
              <td class="col-1 text-center d-none d-md-table-cell">
                <form action="{{url_for('informe_inicial_es.actualizar_estado')}}" method="POST"
                  class="actualizar_estado">
                  <input type="hidden" name="id" value="{{informe[0]}}">
                  <input type="hidden" name="estado" value="{{informe[4]}}">
                  {% if informe[4]=='P' %}
                  <button type="button" class="estado btn ls-button btn-warning text-white" data-bs-toggle="tooltip"
                    data-bs-title="Aprobar informe" onclick="event.preventDefault(); checkbox(this.parentNode)">
                    <i class="fa fa-hourglass-end"></i>
                  </button>
                  {% else %}
                  <button type="button" class="estado btn ls-button btn-success" data-bs-toggle="tooltip"
                    data-bs-title="Revocar aprobación" onclick="event.preventDefault(); checkbox(this.parentNode)">

                    <i class="bi bi-check-square-fill"></i>
                  </button>
                  {% endif %}
                </form>
              </td>
              <td class="col-1 text-center">
                {% if session['rol']=="Docente de Apoyo" %}
                <a href="{{url_for('informe_inicial_es.editar_informe_inicial_es', id=informe[0])}}"
                  class="text-center btn btn-primary ls-button" data-bs-toggle="tooltip" data-bs-title="Ver informe"><i
                    class="fa fa-eye"></i></i></a>
                {% else %}
                <a href="{{url_for('informe_inicial_es.editar_informe_inicial_es', id=informe[0])}}"
                  class="text-center btn btn-primary ls-button" data-bs-toggle="tooltip"
                  data-bs-title="Editar informe"><i class="fas fa-edit"></i></a>
                {% endif %}

              </td>
              <td class="col-1 text-center">
                <a href="{{url_for('informe_inicial_es.generar_pdf_iie', id=informe[0])}}"  target="_blank" class="text-center btn btn-primary ls-button" data-bs-toggle="tooltip"
                  data-bs-title="Ver informe"><i class="fa fa-download"></i></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
</section>
{% endblock%}