{% extends "maestra/maestra.html" %}
{% block titulo %} Informe Inicial Estudiante {% endblock %}
{% set titulo2 = "Agregar Informe Inicial Estudiante" %}
{% block contenido %}
  <div class="container-fluid">
    <div class="row mt-3">
      <div class="col-12">
        <h4>Datos del Estudiante</h4>
        <form>
          <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="nombre">
            </div>
            <label for="apellidos" class="col-sm-2 col-form-label">Apellidos:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="apellidos">
            </div>
          </div>
          <div class="form-group row">
            <label for="codigo" class="col-sm-2 col-form-label">Codigo:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="codigo">
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="area" class="col-sm-2 col-form-label">Semestre:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="semestre">
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        <h4>Datos del Centro de Practica Pre Profesional</h4>
        <form>
          <div class="form-group row">
            <label for="nombre_empresa" class="col-sm-2 col-form-label">Razon social:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="razon_social">
            </div>
          </div>
          <div class="form-group row">
            <label for="nombre_empresa" class="col-sm-2 col-form-label">Responsable de la practica:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="responsable_practica">
            </div>
          </div>
          <div class="form-group row">
            <label for="nombre_empresa" class="col-sm-2 col-form-label">Cargo:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="cargo">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
          <form>
              <div class="form-group row">
                  <div class="col-md-3 mb-4">
                      <div class="form-floating">
                          <input value="{{fecha_inicio}}" required type="date" class="form-control input"
                              name="fecha_inicio" id="fecha_inicio">
                          <label for="fecha_inicio">Fecha de inicio</label>
                      </div>
                  </div>
  
                  <div class="col-md-3 mb-4">
                      <div class="form-floating">
                          <input value="{{fecha_fin}}" required type="date" class="form-control input" name="fecha_fin"
                              id="fecha_fin">
                          <label for="fecha_fin">Fecha de fin</label>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
  

  <div class="row mt-3">
    <div class="col-12">
        <div class="d-flex justify-content-between align-items-center">
            <h5>Objetivos</h5>
            <div>
                <a href="#" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
            </div>
        </div>
          <form>
              <table class="table">
                  <thead class="bg-light">
                      <tr>
                          <th scope="col">Numero</th>
                          <th scope="col">Descripcion</th>
                          <th scope="col">Editar</th>
                          <th scope="col">Eliminar</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th scope="row">1</th>
                          <td>Realizar mantenimiento de todas las computadoras del área de ventas, verificar que estén en buen estado</td>
                          <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                          <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
                      </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Realizar mantenimiento de todas las computadoras del área de ventas, verificar que estén en buen estado</td>
                          <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                          <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
                      </tr>
                      <tr>
                          <th scope="row">3</th>
                          <td>Realizar mantenimiento de todas las computadoras del área de ventas, verificar que estén en buen estado</td>
                          <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                          <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
                      </tr>
                  </tbody>
              </table>
          </form>
      </div>
  </div>
  
    
        </div>
        <div class="row mt-3">
          <div class="col-12">
              <div class="d-flex justify-content-between align-items-center">
                  <h5>Plan de trabajo</h5>
                  <div>
                      <a href="#" class="btn btn-success"><i class="fas fa-plus-circle"></i>&nbsp;Agregar</a>
                  </div>
              </div>
        <form>
          <table class="table">
            <thead class="bg-light">
              <tr>
                <th scope="col">Num de semanas</th>
                <th scope="col">Fechas</th>
                <th scope="col">Actividad a relizar</th>
                <th scope="col">Numero de horas</th>
                <th scope="col">Editar</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>10/01/2023 al 10/03/2023</td>
                <td>Mantenimiento y revision de las computadoras del area de ventas</td>
                <td>10</td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>10/01/2023 al 10/03/2023</td>
                <td>Mantenimiento y revision de las computadoras del area de ventas</td>
                <td>10</td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>10/01/2023 al 10/03/2023</td>
                <td>Mantenimiento y revision de las computadoras del area de ventas</td>
                <td>10</td>
                <td><button class="btn btn-primary btn-sm"><i class="bi bi-pencil"></i></button></td>
                <td><button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button></td>
              </tr>
              <tr>
                <td>Total de horas</td>
                <td></td>
                <td></td>
                <td>30</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>


    <div class="row mt-3">
      <div class="col-md-3">
        <h5 class="">Subir Firma del estudiante</h5>
        <input class="form-control" type="file" id="formFile">
      </div>
  </div>
  <div class="row mt-3">
      <div class="col-md-3">
        <h5 class="">Subir Firma del representante</h5>
        <input class="form-control" type="file" id="formFile">
      </div>
  </div>


    <div class="row mt-3">
      <div class="col-12 text-center">
        <button class="btn btn-success mx-2">Guardar</button>
        <a href="{{url_for('informe_inicial_es.informe_inicial_es')}}" class="btn btn-danger mx-2"><i></i></i>&nbsp;&nbsp;Cancelar</a>
      </div>
    </div>
    <div class="mt-3"></div>
  </div>
  {% endblock%}
